body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 10% 0 10% 0;
}

.r{
    transform: scaleX(-1);
    display: inline-block;
    color: blue;
}

.flex_container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex_container ul {
    display: flex; /* Arrangerer li'erne i en række */
    list-style-type: none; /* Fjerner punktegn */
    margin: 0; /* Fjerner standard margin */
    padding: 0; /* Fjerner standard padding */
    gap: 20px; /* Tilføjer mellemrum mellem menupunkterne */
  }

  .flex_container a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
  }

  .flex_container a:hover{
    color: blue;
  }

  .box_grid {
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: center; 
    gap: 15px; 
  }

  .box {
    width: 100%; /* Sikrer, at boksene tilpasses rammen */
    border: 1px solid black;
    height: 60px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_grid a{
    text-decoration: none;
    color: black;
  }

  .box_grid a:hover{
    color: blue;
  }
